<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nenu.yf.mapper.StudentMapper">

    <!--为返回list设置了resultMap-->
    <resultMap type="com.nenu.yf.entity.Student" id="StudentResult">
        <id column="ID" property="ID"/>
        <result column="name" property="name"/>
        <result column="birDate" property="birDate"/>
        <result column="gender" property="gender"/>
    </resultMap>

    <!--用户注册-->
    <insert id="insertStudent" parameterType="student">
        INSERT INTO student(name,birDate,gender) VALUES (#{name},#{birDate},#{gender})
   </insert>

    <!--根据id查询-->
    <select id="selectStudent" parameterType="String" resultType="com.nenu.yf.entity.Student">
         SELECT ID,name,birDate,gender FROM student WHERE name=#{name}
    </select>

    <!--根据id删除-->
    <delete id="deleteStudent" parameterType="String">
        delete from student where name=#{name}
    </delete>

    <!--查询所有用户-->
    <select id="listAllStudent" resultMap="StudentResult">/*此处id作为唯一标识，与mapper接口中的方法名对应*/
        SELECT * FROM student
    </select>

    <!--更改用户-->
    <update id="updateStudent" parameterType="com.nenu.yf.entity.Student">
        update student set ID=#{ID},birDate=#{birDate},gender=#{gender} where name=#{name}
    </update>

    <!--根据用户name查找用户-->
    <select id="findByName" parameterType="String" resultType="com.nenu.yf.entity.Student">
        SELECT ID,birDate,gender FROM student WHERE name=#{name}
    </select>

    <!--用户登陆判断-->
    <select id="login" parameterType="com.nenu.yf.entity.Student" resultMap="StudentResult">
		select*FROM student WHERE name=#{name}
	</select>


</mapper>